/*1.tel*/
.tel {
  display: flex;
  gap: 0.8rem;
  > * {
    flex: 1;
  }
}

/*2.address */
.address {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.4rem 0.9rem; /*행 열*/

  input[type='text'] {
    grid-column: 1/-1;
  }
}
