.tel {
  display: flex;
  gap: 0.8rem;
  > * {
    flex: 1;
  }
}
.address {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.4rem 1rem; /*행 열*/
  background-color: aquamarine;
  input[type='text'] {
    grid-column: 1/-1;
  }
}
