.pipe-type1 {
  --width: 0.1rem;
  --height: 1.4rem;
  --marginX: 1.2rem;
  --bg: var(--red300);

  display: flex;
  align-items: center;
  > * {
    display: flex;
    align-items: center;
    + * {
      &::before {
        content: '';
        width: var(--width);
        height: var(--height);
        margin-inline: var(--marginX);
        background: var(--bg);
      }
    }
  }
}

.pipe-type2 {
  --width: 0.6rem;
  --height: 1.1rem;
  --marginX: 0.8rem;
  --bg: url(../images/ico_pipe2.svg) no-repeat center / contain;

  display: flex;
  align-items: center;

  > * {
    display: flex;
    align-items: center;

    + * {
      &::before {
        content: '';
        width: var(--width);
        height: var(--height);
        margin-inline: var(--marginX);
        background: var(--bg);
      }
    }
  }
}
