.pipe-type1 {
  --width: 0.1rem;
  --height: 1.4rem;
  --marginX: 1.2rem;
  /* --bg: rgba(255, 255, 255, 0.4); */
  --bg: var(--gray400);

  display: flex;
  align-items: center;
  > * {
    display: flex;
    align-items: center;
    + * {
      &::before {
        content: '';
        width: var(--width);
        height: var(--height);
        margin-inline: var(--marginX);
        background: var(--bg);
      }
    }
  }
}

.pipe-type2 {
  --width: 0.6rem;
  --height: 1.1rem;
  --marginX: 0.8rem;
  --bg: url(../images/ico_pipe2.svg) no-repeat center / contain;

  display: flex;
  align-items: center;

  > * {
    display: flex;
    align-items: center;

    + * {
      &::before {
        content: '';
        width: var(--width);
        height: var(--height);
        margin-inline: var(--marginX);
        background: var(--bg);
      }
    }
  }
}

.pipe-type3 {
  --width: 0.1rem;
  --height: 1.2rem;
  --marginX: 1.2rem;

  border-bottom: 0.1rem solid var(--gray200);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  > * {
    display: flex;
    align-items: center;
    + * {
      &::before {
        content: '';
        width: var(--width);
        height: var(--height);
        margin-inline: var(--marginX);
        background: var(--bg);
      }
    }
  }
}
