.radio {
  --offImage: url(../images/ico_radio_off.svg);
  --onImage: url(../images/ico_radio_on.svg);
  --fontSize: var(--font-sm); /*1.2rem;*/
  --beforeColor: var(--gray700);
  --afterColor: var(--gray700);
  --pl: 3rem;
  --height: 2.4rem;

  display: inline-flex;
  align-items: center;
  /* margin-right: 3rem; 라디오 버튼 사이의 간격 */

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    &:checked {
      + label {
        color: var(--afterColor);
        background: var(--onImage) no-repeat left;
      }
    }
    &:focus {
      + label {
        outline: 2px solid #000;
        border-radius: 2px;
      }
    }
  }
  label {
    padding-left: var(--pl);
    background: var(--offImage) no-repeat left;
    font-size: var(--fontSize);
    color: var(--beforeColor);
    height: var(--height);
    align-content: center;
  }
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

/* .radio-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */
