.text-xs {
  color: var(--color, var(--gray850));
  font-size: var(--fs, var(--font-xs)); /*1.1rem*/
  line-height: var(--lh, var(--lh-xs));
  letter-spacing: var(--ls, var(--ls-xs));
  font-weight: var(--fw, 400);
}
.text-sm {
  color: var(--color, var(--gray850));
  font-size: var(--fs, var(--font-sm)); /*1.2rem*/
  line-height: var(--lh, var(--lh-sm));
  letter-spacing: var(--ls, var(--ls-sm));
  font-weight: var(--fw, 400);
}
.text-base {
  color: var(--color, var(--gray850));
  font-size: var(--fs, var(--font-base)); /*1.4rem*/
  line-height: var(--lh, var(--lh-base));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, 400);
}
.text-md {
  color: var(--color, var(--gray850));
  font-size: var(--fs, var(--font-md)); /*1.6rem*/
  line-height: var(--lh, var(--lh-md)); /*--lh-md: 1.8;*/
  letter-spacing: var(--ls, var(--ls-md));
  font-weight: var(--fw, 400);
}
.text-lg {
  color: var(--color, var(--gray850));
  font-size: var(--fs, var(--font-lg)); /*2rem*/
  line-height: var(--lh, var(--lh-lg));
  letter-spacing: var(--ls, var(--ls-lg));
  font-weight: var(--fw, 400);
}
.text-xl {
  color: var(--color, var(--gray850));
  font-size: var(--fs, var(--font-xl)); /*2.4rem*/
  line-height: var(--lh, var(--lh-xl));
  letter-spacing: var(--ls, var(--ls-xl));
  font-weight: var(--fw, 400);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  &[class*='text-'] {
    font-weight: var(--fw, 700);
  }
}

/* 폰트 두께 클래스 추가 - Noto Sans KR (100~900) */
.weight-100 {
  font-weight: var(--fw-thin); /* Thin */
}
.weight-200 {
  font-weight: var(--fw-extralight); /* Extra Light */
}
.weight-300 {
  font-weight: 300; /* Light */
}
.weight-400 {
  font-weight: 400; /* Regular */
}
.weight-500 {
  font-weight: 500; /* Medium */
}
.weight-600 {
  font-weight: 600; /* Semi Bold */
}
.weight-700 {
  font-weight: 700; /* Bold */
}
.weight-800 {
  font-weight: 800; /* Extra Bold */
}
.weight-900 {
  font-weight: 900; /* Black */
}

.link {
  text-decoration: underline 2px;
  text-decoration-color: var(--primary);
  text-underline-offset: 3px;
}

/* line-height 적용을 위한 클래스 생성  */
/* 
--lh-xs: 1.1;
--lh-sm: 1.2;
--lh-base: 1.5;
--lh-md: 1.8;
--lh-lg: 2; */

.lh-xs {
  --lh: var(--lh-xs);
}

.lh-sm {
  --lh: var(--lh-sm);
}

.lh-base {
  --lh: var(--lh-base);
}

.lh-md {
  --lh: var(--lh-md);
}

.lh-lg {
  --lh: var(--lh-lg);
}
