/* -------------------------------------------------------------------------- */
/*                                    Align                                   */
/* -------------------------------------------------------------------------- */
.align {
  display: flex;
}
.align.both {
  justify-content: space-between;
}
.align.right {
  justify-content: end;
}
.align.center {
  justify-content: center;
}
.align.vt {
  align-items: start;
}
.align.vm {
  align-items: center;
}
.align.vb {
  align-items: end;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

/* -------------------------------------------------------------------------- */
/*                                 grid layout                                */
/* -------------------------------------------------------------------------- */

/* 좌측 텍스트 정렬, 4등분 */
.field-area {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.2rem;
}

/* -------------------------------------------------------------------------- */
/*                                 Text Color                                 */
/* -------------------------------------------------------------------------- */
.text-primary {
  color: var(--primary, #000);
}
.text-secondary {
  color: var(--secondary, #000);
}
.text-danger {
  color: var(--danger, #000);
}
.text-success {
  color: var(--success, #000);
}

/* -------------------------------------------------------------------------- */
/*                                   Rounded                                  */
/* -------------------------------------------------------------------------- */
.rounded-base {
  border-radius: 0.8rem;
}
.rounded-full {
  border-radius: 100rem;
}

/* -------------------------------------------------------------------------- */
/*                                   Spacing                                  */
/* -------------------------------------------------------------------------- */
/* .mt-base
 .mt-md
 .mt-lg
 .mt-xl */

/*상하여백*/
.mt2 {
  margin-top: 0.2rem;
}
.mt4 {
  margin-top: 0.4rem;
}
.mt8 {
  margin-top: 0.8rem;
}
.mt12 {
  margin-top: 1.2rem;
}
.mt16 {
  margin-top: 1.6rem;
}
.mt20 {
  margin-top: 2rem;
}
.mt24 {
  margin-top: 2.4rem;
}
.mt32 {
  margin-top: 3.4rem;
}
.mt40 {
  margin-top: 4rem;
}
.mt48 {
  margin-top: 4.8rem;
}

/*좌우 여백*/

.mx16 {
  margin-inline: 1.6rem;
}
